<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <link href="style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div class ="navigation-bar">
            <a class = "active" href = "#Home">Home</a>
            <a href = "#Browse">Browse</a>
            <a href = "#Contact">Contact</a>
            <a href = "/login">Log In</a>
            <a href = "/logout">Log Out</a>
            <a href = "#Checkout">Checkout</a>
        </div>

        <h1>Computer Reseller</h1>
        <h2>The Systems below are the most popular systems right now. </h2>

        <header>
            <h1>{{title}}</h1>
        </header>
            <p>Computers right now</p>
            <ul>{{#each name}}
            <li>{{this.name}}
                {{this.desc}}
            </li>
            {{/each}}
            </ul>
    </body>

</html>