
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Authorised Computer Reseller</h1>
		<h2>Welcome Back</h2>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<form action="/login" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="Enter Username" value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="Enter Password" value=""></p>
			<p><input type="submit" value="Log in"></p>
		</form>
		<h3>Dont have an account? <a href="/register">Sign Up</a></h3>
		<h3>Want to have a look around? <a href="/home">Take a look</a></h3>
		
	</body>
</html>
