<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add to the Product Catalogue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="style.css" type="text/css" rel="stylesheet"/>
    </head>
      
       <body>
        <div class ="navigation-bar">
            <a class = "active" href = "#Add">Add New Product</a>
            <a href = "/logout">Log Out</a>
        </div>
        <h1>Add to the product catalogue</h1>

        <form action "/productadd" enctype="multipart/form-data" method="POST">
            <p>Product Name:<br /><input type="text" name="name" placeholder="Enter Product Name" value="" autofocus> </p>
             <p>Product Price:<br /><input type="text" name="price" placeholder="Enter Product Price" value=""> </p>
             <p>Product Picture:<br /><input type="file" name="picture"> </p>
             <p>Product Desc:<br /><input type="text" name="desc" placeholder="Enter Product Desc" value=""> </p>

             <p>Customisable Options for the Product</p>

             <p>Option 1:<br /><input type="text" name="op1" placeholder="Option 1" value=""></p>
             <p>Option 1 Price:<br /><input type="text" name="op1tot" placeholder="Option 1 Price" value=""></p> 

             <p>Option 2:<br /><input type="text" name="op2" placeholder="Option 2" value=""></p>
             <p>Option 2 Price:<br /><input type="text" name="op2tot" placeholder="Option 2 Price" value=""></p>

             <p>Option 3:<br /><input type="text" name="op3" placeholder="Option 3" value=""></p>
             <p>Option 3 Price:<br /><input type="text" name="op3tot" placeholder="Option 3 Price" value=""></p>

             <p>Product Picture 2:<br /><input type="file" name="picture2"> </p>
            
            <p><input type="submit" value="Add Product"></p>
        </form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
        </body> 
</html>
