<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add to the Product Catalogue</title>
        <link href="style.css" type="text/css" rel="stylesheet"/>
    </head>
      {{! - Modify this Navbar for admin use only later on
            make an admin dashboard too}}
       <body>
        <div class ="navigation-bar">
            <a class = "active" href = "#Home">Home</a>
            <a href = "#Browse">Browse</a>
            <a href = "#Contact">Contact</a>
            <a href = "/login">Log In</a>
            <a href = "/logout">Log Out</a>
            <a href = "#Checkout">Checkout</a>
        </div>
        <h1>Add to the product catalogue</h1>

        <form action "/productadd" method="POST">
            <p>Product Name:<br /><input type="text" name="name" placeholder="Enter Product Name" value="" autofocus> </p>
             <p>Product Price:<br /><input type="text" name="price" placeholder="Enter Product Price" value=""> </p>
             <p>Product Picture:<br /><input type="text" name="picture" placeholder="Enter Product Picture" value=""> </p>
             <p>Product Desc:<br /><input type="text" name="desc" placeholder="Enter Product Desc" value=""> </p>
            <p><input type="submit" value="Add Product"></p>
        </form>


        </body> 
</html>
