
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="your preferred username (no spaces)" value=""></p>
            <p>Password:<br /><input type="password" name="pass" placeholder="your chosen password" value=""></p>
			
			
			<p>Profile Picture:<br /><input type="file" name="avatar"></p>

			<p>Below please supply a delivery Address</p>
			<p>Address Line 1:<br /><input type="text" name="line1" placeholder="House No. and Street Name" value=""></p>
			<p>City:<br /><input type="text" name="city" placeholder="Enter City" value=""></p>
			<p>Country:<br /><input type="text" name="country" placeholder="Please Select" value=""></p>
			<p>Post Code:<br /><input type="text" name="postcode" placeholder="Enter Postcode" value=""></p>
		
			<p><input type="submit" value="Create"></p>
		</form>
	</body>
</html>
