
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  }
  
  .msg {
    border: 1px solid red;
    font-weight: bold;
    color: red;
    padding: 1em;
  }

/*This is the CSS for my Navigation Bar*/
  .navigation-bar{
    background-color: #8cff66;
    overflow: hidden;
  }
  .navigation-bar a{
    float: left;
    color: #00ace6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .navigation-bar a:hover{
    background-color:	#66d9ff;
    color: black;
  }
  .navigation-bar a.active{
    background-color: #66ffff;
    color: black;
  }


